body
{
    font-family: arial;
}
div
{
    z-index: 3;
}
#multicouche
{
    position : relative;
}

#multicouche img 
{
    position: absolute;
    top: 0;
    left: 0;
}

#bandes
{
    z-index: 1;
}

#logo
{
    z-index: 2;
}

#ligne1
{
    padding-top: 1em;
    margin-bottom: 1.1em;
}

#ligne2
{
    color:white;
    margin-bottom: 1em;
    font-size: 1.4em;
    font-weight: bold;
}

#ligne3
{
    color:white;
    column-width: 3rem;
    font-size: 1em;
}
.container, .container-md, .container-sm, .container-xl 
{
    max-width: 1170px;
}