div
{
    z-index: 3;
}

#multicouche img 
{
    position: absolute;
}

#bandes
{
    margin-top:0.9em;
    margin-left: 20px;
    z-index: 1;
}

#logo
{
    margin-top:1em;
    margin-left:20px;
    z-index: 2;
}

#ligne1
{
    padding-top: 1.9em;
    margin-bottom: 1.1em;
}

#ligne2
{
    color:white;
    margin-bottom: 1em;
    font-size: 1.4em;
    font-weight: bold;
}

#ligne3
{
    color:white;
    column-width: 3em;
    font-size: 1em;
}

.container
{
    max-width: 1170px !important;  
    font-family: arial;
    /* background : url("../img/bande_milieu.png"); */
}

.dropdown
{
    position: relative;
}

.dropbtn
{
    background: none;
    color: white;
    border: none;
    padding:0em;
}

.dropdown-content
{
    display: none;
}

.dropdown:hover .dropdown-content 
{
    display: block;
    position: absolute;
}

.dropbtn:hover
{
    color:#b55500;
}